In [5]:
import random
import pandas as pd

In [9]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  human
4  human

In [7]:
uniqueValues = data['whoAmI'].unique()
uniqueValues

array(['robot', 'human'], dtype=object)

In [8]:
for value in uniqueValues:
  data.loc[data['whoAmI'] == value, value] = 1
  data.loc[data['whoAmI'] != value, value] = 0

data.pop('whoAmI')
data.head()

   robot  human
0    1.0    0.0
1    0.0    1.0
2    0.0    1.0
3    1.0    0.0
4    1.0    0.0